/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
*/
A { color: #336699 }

BODY
{
    font-family: "verdana", Arial, Helvetica,
        sans-serif; font-size: 10pt; font-style: normal; color: rgb(68,68,68);
    background: white; text-align: center; background-repeat: repeat-y;
    background-position: center; background-color: rgb(255,255,255);
    padding: 0
}
H1 { margin-left: 10px;
     margin-right: 10px;
     font-size: 16pt;
     font-weight: bold;
     font-style: normal;
     font-family: "verdana", "Arial", "Helvetica", sans-serif;
     color: #336699 }

H2 { margin-left: 10px;
     margin-right: 10px;
     font-size: 14pt;
     font-style: normal;
     font-family: "verdana", "Arial", "Helvetica", sans-serif;
     color: #336699 }

H3 { margin-left: 10px;
     margin-right: 10px;
     font-size: 12pt;
     font-weight: bold;
     font-family: "verdana", "Arial", "Helvetica", sans-serif;
     color: black }

object { display: inline; }

p {  margin-left: 10px;
     margin-right: 10px;
     font-family: "verdana", "Arial", "Helvetica", sans-serif;
     font-size: 10pt }

/* This class is here so that a "DIV" by default acts as a "P".
   This is necessary since the "dspace:popup" tag must have a "DIV"
   (or block element) surrounding it in order to be valid XHTML 1.0 */
DIV { margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 15px;
      font-family: "verdana", "Arial", "Helvetica", sans-serif;
      font-size: 10pt;}

UL { font-family: "verdana", "Arial", "Helvetica", sans-serif;
     font-size: 10pt }

/* This class is here so the standard style from "P" above can be applied to anything else. */
.standard { margin-left: 10px;
            margin-right: 10px;
            font-family: "verdana", "Arial", "Helvetica", sans-serif;
            font-size: 10pt }

.langChangeOff { text-decoration: none;
                 color : #bbbbbb;
                 cursor : default;
                 font-size: 10pt }

.langChangeOn { text-decoration: underline;
                color: #336699;
                cursor: pointer;
                font-size: 10pt }

.pageBanner { width: 100%;
              border: 0;
              margin: 0;
              background: #ffffff;
              color: #000000;
              padding: 0;
              vertical-align: middle }

.tagLine { vertical-align: bottom;
           padding: 10px;
           border: 0;
           margin: 0;
           background: #ffffff;
           color: #ff6600 }

.tagLineText { background: #ffffff;
               color: #ff6600;
               font-size: 10pt;
               font-weight: bold;
               border: 0;
               margin: 0 }

.stripe
{
    background: #5970b2;
    color: #ffffff
}

.navbarcolor
{
    background: #000000;
    color: #ffffff
}

.locationBar { font-size: 10pt;
               font-family: "verdana", "Arial", "Helvetica", sans-serif;
               text-align: left }

.centralPane
{
    margin: 0px;
    vertical-align: top;
    padding: 0px;
    border: 1px solid #336699;
}

/* HACK: Width shouldn't really be 100%:  Really, this is asking that the
       table cell be the full width of the table.  The side effect of
       this should theoretically be that other cells in the row be made
       a width of 0%, but in practice browsers will only take this 100%
       as a hint, and just make it as wide as it can without impinging
       the other cells.  This, fortunately, is precisely what we want. */
.pageContents
{
    FONT-FAMILY: "verdana", Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    vertical-align: top;
    width: 100%
}

.navigationBarTable
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0 }

.navigationBar
{
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
    color: #252645;
    text-decoration: none;
    background: white;
    border-right: 1px solid #336699
}

.navigationBarSublabel
{
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: white;
    white-space: nowrap
}

/* HACK: Shouldn't have to repeat font information and colour here, it
       should be inherited from the parent, but isn't in Netscape 4.x,
       IE or Opera.  (Only Mozilla functions correctly.) */
.navigationBarItem
{
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    color: #252645;
    background: #5970B2;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap

}

.loggedIn { font-family: "verdana", "Arial", "Helvetica", sans-serif;
            font-size: 8pt;
            font-style: normal;
            font-weight: normal;
            color: #882222;
            background: #ffffff }

.pageFooterBar { width: 100%;
                 border: 0;
                 margin: 0;
                 padding: 0;
                 background: #ffffff;
                 color: #000000;
                 vertical-align: middle }

.pageFootnote { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                font-size: 10pt;
                font-style: normal;
                font-weight: normal;
                background: #ffffff;
                color: #252645;
                text-decoration: none;
                text-align: left;
                vertical-align: middle;
                margin-left: 10px;
                margin-right: 10px }

.sidebar
{
    background: #ffffff;
    color: #000000;
    border-left: 1px solid #336699;
}

.communityLink { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                 /*font-size: 10pt;*/
                 font-weight: bold;
                 background-image: url(./image/blue_arrow.png);
                 background-repeat: no-repeat;
                 background-position: 0 .4em;
                 padding-left: 1em;
                 list-style-type: none;
 }

.communityStrength {
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    font-weight: normal }

.communityDescription { margin-left: 20px;
                        margin-right: 10px;
                        font-family: "verdana", "Arial", "Helvetica", sans-serif;
                        font-size: 10pt;
                        font-weight: normal;
                        list-style-type: none }

.collectionListItem { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                      /*font-size: 12pt;*/
                      font-weight: normal }

.collectionDescription { margin-left: 20px;
                         margin-right: 10px;
                         font-family: "verdana", "Arial", "Helvetica", sans-serif;
                         font-size: 10pt;
                         font-weight: normal;
                         list-style-type: none }

.miscListItem { margin-left: 20px;
                margin-right: 10px;
                font-family: "verdana", "Arial", "Helvetica", sans-serif;
                font-size: 12pt;
                list-style-type: none }

.copyrightText { margin-left: 20px;
                 margin-right: 20px;
                 text-align: center;
                 font-style: italic;
                 font-family: "verdana", "Arial", "Helvetica", sans-serif;
                 font-size: 10pt;
                 list-style-type: none }

.browseBarLabel { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                  font-size: 10pt;
                  font-style: normal;
                  font-weight: bold;
                  color: #000000;
                  background: #ffffff;
                  vertical-align: middle;
                  text-decoration: none }

.browseBar { font-family: "verdana", "Arial", "Helvetica", sans-serif;
             font-size: 12pt;
             font-style: normal;
             font-weight: bold;
             background: #ffffff;
             color: #252645;
             vertical-align: middle;
             text-decoration: none }

.itemListCellOdd { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                   font-size: 12pt;
                   font-style: normal;
                   font-weight: normal;
                   color: #000000;
                   vertical-align: middle;
                   text-decoration: none;
                   background: #ffffff }


.itemListCellEven { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                    font-size: 12pt;
                    font-style: normal;
                    font-weight: normal;
                    color: #000000;
                    vertical-align: middle;
                    text-decoration: none;
                    background: #eeeeee }

.itemListCellHilight { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                       font-size: 12pt;
                       font-style: normal;
                       font-weight: normal;
                       color: #000000;
                       vertical-align: middle;
                       text-decoration: none;
                       background: #ddddff }

.topNavLink { margin-left: 10px;
              margin-right: 10px;
              font-family: "verdana", "Arial", "Helvetica", sans-serif;
              font-size: 10pt;
              text-align: center }

.submitFormLabel { margin-left: 10px;
                   margin-right: 10px;
                   font-family: "verdana", "Arial", "Helvetica", sans-serif;
                   font-weight: bold;
                   font-size: 10pt;
                   text-align: right;
                   vertical-align: top }

.submitFormHelp {  margin-left: 10px;
                   margin-right: 10px;
                   font-family: "verdana", "Arial", "Helvetica", sans-serif;
                   font-size: 8pt;
                   text-align: center }


.submitFormWarn {  margin-left: 5px;
                   margin-right: 5px;
                   font-family: "verdana", "Arial", "Helvetica", sans-serif;
                   font-weight: bold;
                   font-size: 8pt;
                   font-style: oblique;
                   color: #C00000;
                   text-align: center }

.uploadHelp { margin-left: 20px;
              margin-right: 20px;
              font-family: "verdana", "Arial", "Helvetica", sans-serif;
              font-size: 10pt;
              text-align: left }

.submitFormDateLabel {  margin-left: 10px;
                        margin-right: 10px;
                        font-family: "verdana", "Arial", "Helvetica", sans-serif;
                        font-size: 10pt;
                        font-style: italic;
                        text-align: center;
                        vertical-align: top; }

.submitProgressTable{ margin: 0;
                      padding: 0;
                      border: 0;
                      vertical-align: top;
                      text-align: center;
                      white-space: nowrap }

.submitProgressButton{ border: 0 }

.submitProgressButtonDone{ border: 0;
                           background-image: url(./image/submit/done.gif);
                           background-position: center;
                           height: 30px;
                           width: 90px;
                           font-size: 12pt;
                           color: black;
                           background-repeat: no-repeat; }

.submitProgressButtonCurrent{ border: 0;
                              background-image: url(./image/submit/current.gif);
                              background-position: center;
                              height: 30px;
                              width: 90px;
                              font-size: 12pt;
                              color: white;
                              background-repeat: no-repeat; }

.submitProgressButtonNotDone{ border: 0;
                              background-image: url(./image/submit/notdone.gif);
                              background-position: center;
                              height: 30px;
                              width: 90px;
                              font-size: 12pt;
                              color: black;
                              background-repeat: no-repeat; }

.miscTable { font-family: "verdana", "Arial", "Helvetica", sans-serif;
             font-size: 12pt;
             font-style: normal;
             font-weight: normal;
             color: #000000;
             vertical-align: middle;
             text-decoration: none;
}

.miscTableNoColor { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                    font-size: 12pt;
                    font-style: normal;
                    font-weight: normal;
                    color: #000000;
                    vertical-align: middle;
                    text-decoration: none;
                    background: #ffffff }

.oddRowOddCol{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
               font-size: 12pt;
               font-style: normal;
               font-weight: normal;
               color: #000000;
               vertical-align: middle;
               text-decoration: none;
               background: #ffffff }

.evenRowOddCol{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
                font-size: 12pt;
                font-style: normal;
                font-weight: normal;
                color: #000000;
                vertical-align: middle;
                text-decoration: none;
                background: #eeeeee }

.oddRowEvenCol{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
                font-size: 12pt;
                font-style: normal;
                font-weight: normal;
                color: #000000;
                vertical-align: middle;
                text-decoration: none;
                background: #eeeeee }

.evenRowEvenCol{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
                 font-size: 12pt;
                 font-style: normal;
                 font-weight: normal;
                 color: #000000;
                 vertical-align: middle;
                 text-decoration: none;
                 background: #dddddd }

.highlightRowOddCol{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
                     font-size: 12pt;
                     font-style: normal;
                     font-weight: normal;
                     color: #000000;
                     vertical-align: middle;
                     text-decoration: none;
                     background: #ccccee }

.highlightRowEvenCol{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
                      font-size: 12pt;
                      font-style: normal;
                      font-weight: normal;
                      color: #000000;
                      vertical-align: middle;
                      text-decoration: none;
                      background: #bbbbcc }

.itemDisplayTable{ text-align: center;
                   border: 0;
                   color: #000000 }

.metadataFieldLabel{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
                     font-size: 12pt;
                     font-style: normal;
                     font-weight: bold;
                     color: #000000;
                     vertical-align: top;
                     text-align: right;
                     text-decoration: none;
                     white-space: nowrap }

.metadataFieldValue{ font-family: "verdana", "Arial", "Helvetica", sans-serif;
                     font-size: 12pt;
                     font-style: normal;
                     font-weight: normal;
                     color: #000000;
                     vertical-align: top;
                     text-align: left;
                     text-decoration: none }

.recentItem { margin-left: 10px;
              margin-right: 10px;
              font-family: "verdana", "Arial", "Helvetica", sans-serif;
              font-size: 10pt }

.searchBox { font-family: "verdana", "Arial", "Helvetica", sans-serif;
             font-size: 10pt;
             font-style: normal;
             font-weight: bold;
             color: #000000;
             vertical-align: middle;
             text-decoration: none;
             background: #fefecd;
             padding: 0;
             border: 0;
             margin: 0 }

.searchBoxLabel { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                  font-size: 10pt;
                  font-style: normal;
                  font-weight: bold;
                  color: #000000;
                  background: #fefecd;
                  text-decoration: none;
                  vertical-align: middle }

.searchBoxLabelSmall { font-family: "verdana", "Arial", "Helvetica", sans-serif;
                       font-size: 8pt;
                       font-style: normal;
                       font-weight: bold;
                       color: #000000;
                       background: #fefecd;
                       text-decoration: none;
                       vertical-align: middle }

.attentionTable
{
    font-style: normal;
    font-weight: normal;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    background: #cc9966;
}

.attentionCell
{
    background: #ffffcc;
    text-align: center;
}

.help {font-family: "verdana", "Arial", "Helvetica", sans-serif;
       background: #ffffff;
       margin-left:10px;}

.help h2{text-align:center;
         font-size:18pt;
         color:#000000;}

.help h3{font-weight:bold;
         margin-left:0px;}

.help h4{font-weight:bold;
         font-size: 10pt;
         margin-left:5px;}

.help h5{font-weight:bold;
         margin-left:10px;
         line-height:.5;}

.help p {font-size:10pt;}

.help table{margin-left:8px;
            width:90%;}

.help table.formats{font-size:10pt;}

.help ul {font-size:10pt;}

.help p.bottomLinks {font-size:10pt;
                     font-weight:bold;}

.help td.leftAlign{font-size:10pt;}
.help td.rightAlign{text-align:right;
                    font-size:10pt;}


/* The following rules are used by the controlled-vocabulary add-on */
ul.controlledvocabulary  {
    list-style-type:none; }


.controlledvocabulary ul  li ul {
    list-style-type:none;
    display:none; }

input.controlledvocabulary  {
    border:0px; }

img.controlledvocabulary {
    margin-right:8px ! important;
    margin-left:11px ! important;
    cursor:hand; }

.submitFormHelpControlledVocabularies {
    margin-left: 10px;
    margin-right: 10px;
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 8pt;
    text-align: left; }

.controlledVocabularyLink {
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 8pt; }

.browse_buttons
{
    float: right;
    padding: 1px;
    margin: 1px;
}

#browse_navigation
{
    margin-bottom: 10px;
}

#browse_controls
{
    margin-bottom: 10px;
}

.browse_range
{
    margin-top: 5px;
    margin-bottom: 5px;
}


/* styles added by authority control */
div.autocomplete {
    background-color:white;
    border:1px solid #888888;
    margin:0;
    padding:0;
    position:absolute;
    width:250px;
}

div.autocomplete ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

div.autocomplete ul li {
    cursor:pointer;
}

div.autocomplete ul li.selected {
    text-decoration: underline;
}
div.autocomplete ul li:hover {
    text-decoration: underline;
}

div.autocomplete ul li span.value {
    display:none;
}


/* This magic gets the 16x16 icon to show up.. setting height/width didn't
   do it, but adding padding actually made it show up. */
img.ds-authority-confidence,
span.ds-authority-confidence
{ width: 16px; height: 16px; margin: 5px; background-repeat: no-repeat;
  padding: 0px 2px; vertical-align: bottom; color: transparent;}
img.ds-authority-confidence.cf-unset,
span.ds-authority-confidence.cf-unset
{ background-image: url(./image/authority/bug.png);}
img.ds-authority-confidence.cf-novalue,
span.ds-authority-confidence.cf-novalue
{ background-image: url(./image/confidence/0-unauthored.gif);}
img.ds-authority-confidence.cf-rejected,
img.ds-authority-confidence.cf-failed,
span.ds-authority-confidence.cf-rejected,
span.ds-authority-confidence.cf-failed
{ background-image: url(./image/confidence/2-errortriangle.gif); }
img.ds-authority-confidence.cf-notfound,
span.ds-authority-confidence.cf-notfound
{ background-image: url(./image/confidence/3-thumb1.gif); }
img.ds-authority-confidence.cf-ambiguous,
span.ds-authority-confidence.cf-ambiguous
{ background-image: url(./image/confidence/4-question.gif); }
img.ds-authority-confidence.cf-uncertain,
span.ds-authority-confidence.cf-uncertain
{ background-image: url(./image/confidence/5-pinion.gif); }
img.ds-authority-confidence.cf-accepted,
span.ds-authority-confidence.cf-accepted
{ background-image: url(./image/confidence/6-greencheck.gif); }

/* hide authority-value inputs in forms */
input.ds-authority-value { display:none; }

/** XXX Change to this to get the authority value to show up for debugging:
 input.ds-authority-value { display:inline; }
**/

/* ..except, show authority-value inputs in on the Item EditMetadata page */
table.miscTable input.ds-authority-value { display: inline; }

table.authority-statistics {padding: 5px; margin-bottom: 15px;}
table.authority-statistics table {float: left; text-align: center;}

.statsTable {
    border: 1px gray solid;
    width: 85%;
}

.statsTable td {
    font-size: 0.8em;
}


div.authority-key-nav-link, div.authority-page-nav-link {margin-top: 20px;}

div#authority-message {
    width: 80%;
    display:block;
    text-align: center;
    margin-left: 10%;
    padding: 10px;
    border: 1px dashed #FFCC00;
    background-color: #FFF4C8;
}

a.authority {
    background: transparent url(./image/authority/book_key.png) no-repeat;
    background-position: top right;
    padding-right: 20px;
}

/* for edit-item-form lock button */
input.ds-authority-lock
{ vertical-align: bottom; height: 24px; width: 24px; margin-right: 8px;
  background-repeat: no-repeat; background-color: transparent; }
input.ds-authority-lock.is-locked
{ background-image: url(./image/lock24.png); }
input.ds-authority-lock.is-unlocked
{ background-image: url(./image/unlock24.png); }
/* AgrisOcean Docs: added by Denys Slipetskyy  (oct 2010) . CSS was originaly made by ??? */
.metadataWrapper
{
    display: block;
    margin: 0;
    padding: 0;
}

/* for name, journalbox */
.metadataCell
{
    display: inline;
    margin: 0;
    padding: 0;
}

.metadataForm
{
    width: 90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.metadataTitlegroup
{
    display: block;
    margin: 0;
    padding: 0;
    clear: both;
}

.metadataFieldgroupTitle
{
    display: inline;
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 11pt;
    margin: 0;
    border: 0px solid #F5D0A9;
    margin-right: 0.3em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    color: black
}

.metadataFieldgroupHint
{
    display: inline;
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #252525
}

.metadataFieldgroup
{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    clear: both;
    display: block;
}

.metadataFieldrow
{
    display: block;
    width: 100%;
    background-color: white;
    border: 0px solid #000000;
    margin: 0;
    margin-bottom: -1px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    background-color: #E0E9F2;
    float: left;
    clear: both;
}

.metadataField
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 15px;
}

.metadataFieldItem
{
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


.metadataLabel
{
    display: block;
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 9pt;
    color: #7f0b0c;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: italic;
}

.metadataType
{
    display: block;
    font-family: "verdana", "Arial", "Helvetica", sans-serif;
    font-size: 13pt;
    margin: 0;
    padding: 0;
}

.metadataWarning
{
    color: red;
    text-decoration: underline;
    font-style: italic;
}

.metadataCollections
{
    list-style-type: none;
}


.borderBanner
{
    border-top: 1px solid #336699;
    border-left: 1px solid #336699;
    border-right: 1px solid #336699;
}

.navigatiobarRow
{
    font-size: 10pt;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 2px 20px;
    margin-left: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    background: #5970B2
}

.navigatiobarRow
{
    font-size: 10pt;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 2px 20px;
    margin-left: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    background: #5970B2
}
.adminNavigatiobarRow
{
    font-size: 10pt;
    padding: 2px 5px;
    margin-left: 10px;
    color: #5970B2;
    margin-left: 10px;
    background: #FFFFFF;
}

.navigatiobarRow a
{
    font-size: 10px;
    color: #FFFFFF;
    padding: 0px 0px;
    background: #5970B2
}
.navigationTableBg
{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000
}

.navigationBarSpacing
{
    border-left: 0px solid #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000
}

.latestLayout{
    border: 0px solid #000000;
    margin: 25px;
    font-size: 10pt;
    color: #000000;
    background: #E0E9F2;
    padding: 2px 10px
}
.latestLayout a
{
    color: #000000;
    padding: 2px 10px;
    font-size: 11pt;
    text-decoration:none;
    font-weight:bold
}

.latestLayoutTitle{
    border-bottom: 1px solid #000000;
    font-size: 11pt;
    padding: 2px 5px;
    font-weight:bold
}
.latestLayoutType{
    border-bottom: 1px solid #000000;
    margin: 25px;
    font-size: 11pt;
    padding: 2px 10px;
    font-weight:bold
}
.navigatiobarRow
{
    font-size: 10pt;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 2px 20px;
    margin-left: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    background: #5970B2
}

#sddm
{
    margin: 0;
    padding: 0;
}

#sddm li
{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 11px arial
}


#sddm li a
{
    display: block;
    margin: 0 1px 0 0;
    padding: 5px 10px;
    width: 110px;
    background: #5970B2;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none
}

#sddm ti a
{
    display: block;
    margin: 0 1px 0 0;
    padding: 5px 10px;
    width: 130px;
    background: #5970B2;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none
}

#searchform
{
    text-align: center;
}

#sddm li a:hover
{
    background: #49A3FF
}

.bla
{
    text-align: center;
}

#sddm div
{
    position: absolute;
    visibility: hidden;
    margin: 0;
    border-left: 0.1px solid #FFFFFF;
    border-right: 0.1px solid #FFFFFF;
    border-top: 0.1px solid #FFFFFF;
    padding: 0;	background: #0198E1;
    width: 150px;
}

#sddm div a
{
    position: relative;
    display: block;
    margin: 0px;
    padding: 2px 2px;
    width: 146px;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    border-bottom: 0.1px solid #FFFFFF;
    background: #0198E1;
    color: #FFFFFF;
    font: 11px arial
}


#sddm div a:hover
{
    background: #49A3FF;
    color: #FFF
}

div#ds-main
{
    position: relative; width: 977px; color:
        inherit; background-color: white; margin-left: auto; margin-right: auto;
    text-align: left; padding: 0;
}